:root {
    --m-grey: #3332;
    --d-grey: #2223;
}

body {
    background-image: linear-gradient(180deg, #f5f5f255, #cccc), url(assets/images/bg-stripe-1.png);
    background-repeat: no-repeat, repeat;
    font-family: 'Manrope', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #455;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

h1 {
    color: #454555;
}

h2 {
    color: #454555aa;
}

h3 {
    color: #45455577;
}

a {
    color: coral;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

img, video {
    max-width: 100%;
}

footer {
    background-color: #fff;
    text-align: right;
    padding: 30px 20px;
    box-shadow: 0px -1px 2px #3333;
}

.main-menu {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-menu a {
    display: flex;
    flex-direction: column;
    color: unset;
    text-decoration: unset;
    margin: 4px;
    width: 30%;
    box-shadow: 1px 1px 4px var(--d-grey);
    transition: all 0.2s;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 22px;
    }
    .main-menu a {
        width: 100%;
        margin-top: 20px;
    }
}

.main-menu img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 0.2s;
}

.main-menu a:hover {
    /* transform: scale(1.01); */
    box-shadow: 4px 4px 4px var(--m-grey);
    /* border: 1px solid coral; */
}

.main-menu a:hover>img {
    transform: scale(1.15);
    /* box-shadow: 4px 4px 4px var(--m-grey); */
}

.main-menu a h5 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 5px;
    transition: all 0.1s;
}

.main-menu a:hover h5 {
    color: coral;
}

.text {
    padding: 20px;
    z-index: 3;
}

.main-menu h6 {
    font-weight: 200;
    font-size: 0.8rem;
    color: #8d8d8d;
    margin: 0;
}

header {
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    background-image: url(./assets/images/pexels-ylanite-koppens-934062.webp);
    background-size: cover;
    box-shadow: 0px 3px 10px var(--m-grey);
    padding-top: 20px;
    padding-bottom: 5px;
}

header > a {
    color: unset;
}

header h1 {
    margin: 0;
    color: inherit;
    font-family: 'Rock Salt', serif;
    font-weight: 600;
    filter: blur(0.6px);
}

header h3 {
    margin-top: 3px;
    margin-bottom: 12px;
    color: #888;
    font-family: 'Caveat', serif;
}

main {
    width: 80vw;
    margin: 10px auto;
}

article, .legal {
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 4px 4px 12px var(--m-grey);
}

article h2 {
    font-size: 2rem;
}

.tag {
    display: inline-block;
    background: #455c;
    border-radius: 2px;
    margin-right: 3px;
    padding: 2px 5px 3px 5px;
    font-variant: small-caps;
    font-size: 0.8rem;
    color: #fff;
}

.img-cover {
    object-fit: cover;
}

